{% extends 'base.html' %}
   {% block title %}About me{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About Me</h1> <div class="col-lg-6 mx-auto">
    <hr>
    <p class="lead mb-4">This is a simple personal scrapbook page. I keep my collection of favourite movies, books, music, shows and more.<br>This is just a project I'm building for myself and to improve my skills and confidence, but if you happen upon it and find something that interests you, thenn that's even better.</p>
    <hr>
</div>
</div>
{% endblock %}}