{% extends 'base.html' %}
{% block title %}My Scrapbook{% endblock %}
{% block content %}
<div class="bg-dark text-secondary px-4 py-5 text-center"> <div class="py-5"> <h1 class="display-5 fw-bold text-white">Welcome to my digital scrapbook</h1>
    <hr>
    <div class="col-lg-6 mx-auto"> <p class="fs-5 mb-4">Looking for something to listen to? Or a book to read? Well I've put together a few of my favourites right here for you! And I didn't stop at books and music either! Books, movies, music, tv shows and coffee shops, all in one place for you to explore!</p> <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> </div> </div> </div> </div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>