{% extends 'base.html' %}
{% block title %}My Scrapbook{% endblock %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 rounded-5" src="../static/me.jpg" alt="" height="150"> <h1 class="display-5 fw-bold text-body-emphasis">Welcome to my digital scrapbook</h1> <div class="col-lg-6 mx-auto"> <p class="lead mb-4">QLooking for something to listen to? Or a book to read? Well I've put together a few of my favourites right here for you! And I didn't stop at books and music either! Books, movies, music, tv shows and coffee shops, all in one place for you to explore!</p>
</div> </div>
{% endblock %}